.ac_results {
padding:0px;
border:1px solid black;
background-color:white;
overflow:hidden;
z-index:99999;
}
.ac_results ul {
width:100%;
list-style-position:outside;
list-style:none;
padding:0;
margin:0;
}
.ac_results li {
margin:0px;
padding:2px 5px;
cursor:default;
display:block;
/* If width will be 100% horizontal scrollbar will apear 
   when scroll mode will be used */
/* width:100%;*/
font:menu;
font-size:12px;
/* It is very important, if line-height not set or set
   in relative units scroll will be broken in firefox */
line-height:16px;
overflow:hidden;
}
.ac_loading {
background:white url('../images/indicator.gif') right center no-repeat;
}
.ac_odd {
background-color:#F3F3F3;
}
.ac_over {
background-color:#DBDBDB;
color:white;
}
